<section
  class="min-h-[240px] w-full flex flex-col content-between justify-between"
>
  <h5
    class="z-10 flex w-full justify-between text-[14px] font-semibold uppercase"
  >
    <div>休闲</div>
    <div class="opacity-50">game</div>
  </h5>

  <div class="z-10 flex flex-1 items-center justify-between gap-2">
    <div
      class="-ml-[25px] -mr-[25px] w-full flex-1 transition-all group-hover:scale-[1.01]"
    >
      <app-dynamic-svg svgPath="/assets/images/snake.svg"></app-dynamic-svg>
      <!-- <img class="h-auto w-full" src="../../../assets/images/snake.svg" /> -->
    </div>
  </div>

  <div class="z-10 flex items-center justify-between gap-2">
    <p class="word-break mb-0 max-w-full text-[13px]">
      娱乐艺术是人类创造力的一种表现形式，可以为我们带来无限的灵感和欢乐。
    </p>
  </div>
</section>
