<main class="main h-auto relative">
  <div class="container">
    <div class="header">
      <div class="banner">
        <div class="w-full h-full pl-[46%] flex items-center absolute z-50">
          <div class="w-[8px] h-[180px] bg-white mr-4"></div>
          <div class="text-white">
            <div
              data-aos="fade-up"
              data-aos-easing="ease-in-out"
              data-aos-duration="500"
              class="text-5xl font-black title mb-4"
            >
              一只大大的杰哥
            </div>
            <div
              data-aos="fade-up"
              data-aos-easing="ease-in-out"
              data-aos-duration="700"
              class="bg-white text-2xl px-2 py-[2px] text-slate-700 mb-3 w-fit"
            >
              MOVING FORWARD IN THE INN
            </div>
            <div
              data-aos="fade-up"
              data-aos-easing="ease-in-out"
              data-aos-duration="900"
              class="text-xl mb-1"
            >
              人生就像一场马拉松，不在乎起跑线的早晚，
            </div>
            <div
              data-aos="fade-up"
              data-aos-easing="ease-in-out"
              data-aos-duration="1100"
              class="text-xl mb-4"
            >
              关键在于是否持之以恒地努力奔跑
            </div>
            <div
              data-aos="fade-up"
              data-aos-easing="ease-in-out"
              data-aos-duration="1300"
              class="max-w-[580px]"
            >
              Life is like a marathon. It doesn`t matter how early or late you
              start. The key is whether you keep running hard.
            </div>
          </div>
        </div>
        <div class="banner_mask"></div>
      </div>
      <div class="header_outer">
        <nav class="main_nav">
          <a
            class="main_nav_link"
            routerLink="/articles"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >文章</a
          >
          <a
            class="main_nav_link"
            routerLink="/diary"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >生活回忆录</a
          >
          <a
            class="main_nav_link"
            routerLink="/resume"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >个人简介</a
          >
          <a
            class="main_nav_link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >关于我</a
          >
        </nav>
      </div>
    </div>
  </div>
  <app-articles></app-articles>
  <div class="text-center pt-4 pb-4 absolute bottom-0 w-full">
    <a href="https://beian.miit.gov.cn"
      ><span class="registration_number"> 皖ICP备2024067394号-1 </span></a
    >
  </div>
</main>
