<main class="main h-auto relative">
  <div class="container">
    <div class="header">
      <div class="banner"><div class="banner_mask"></div></div>
      <div class="header_outer">
        <nav class="main_nav">
          <a
            class="main_nav_link"
            routerLink="/articles"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >文章</a
          >
          <a
            class="main_nav_link"
            routerLink="/diary"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >生活回忆录</a
          >
          <a
            class="main_nav_link"
            routerLink="/resume"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >个人简介</a
          >
          <a
            class="main_nav_link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >关于我</a
          >
        </nav>
      </div>
    </div>
  </div>
  <app-articles></app-articles>
  <div class="text-center pt-4 pb-4 absolute bottom-0 w-full">
    <a href="https://beian.miit.gov.cn"
      ><span class="registration_number"> 皖ICP备2024067394号-1 </span></a
    >
  </div>
</main>
