<main class="main">
  <div class="container">
    <div class="header">
      <div class="banner"><div class="banner_mask"></div></div>
      <div class="header_outer">
        <nav class="main_nav">
          <a
            class="main_nav_link"
            routerLink="/articles"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >文章</a
          >
          <a
            class="main_nav_link"
            routerLink="/resume"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >个人简介</a
          >
          <a
            class="main_nav_link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >关于我</a
          >
        </nav>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
